body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #141314;
}
.running_line_logos1 {
  background-color: #fff429;
  height: 3.6vw;
}

.first_block {
  display: grid;
  height: 50vw;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.nap {
  background-color: black;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/MOSHED-2024-12-3-0-38-40.gif");
  background-position: center center;
  background-size: cover; */
  height: 60%;
}

/* #nap_text {
  width: 95%;
  padding: 20px 3%;
  mix-blend-mode: luminosity;
} */

h3 {
  color: #eeeeee;
  font-weight: 500;
  font-style: italic;
  font-size: 56px;
}

.face {
  background-color: #737373;
  height: 40%;
  width: 40%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.blur_block {
  display: flex;
  flex-direction: column;
}

.script {
  background-color: #eeeeee;
}

.butterfly_effect {
  background-color: #737373;
}

.blur1 {
  background-color: black;
  flex: 1;
}

.blur2 {
  background-color: #eeeeee;
  flex: 1;
}

.blur3 {
  background-color: #fff429;
  flex: 1;
}

.blur4 {
  background-color: black;
  flex: 1;
}

.running_line_about {
  background-color: #fff429;
  height: 3.6vw;
}

.running_lines-digital_reality {
  background-color: black;
  height: 38.5vw;
}

.running_line_logos2 {
  background-color: #fff429;
  height: 3.6vw;
}

.second_row {
  display: flex;
  flex-direction: row;
  height: 87vw;
}

.code {
  background-color: #737373;
  flex: 1;
}

.poster {
  background-color: black;
  width: 65%;
}

.third_row {
  display: flex;
  flex-direction: row;
  height: 21vw;
}

.emotions {
  background-color: #eeeeee;
  flex: 1;
}

.face2 {
  background-color: #737373;
  flex: 1;
}

.running_line_logos3 {
  background-color: #fff429;
  height: 3.6vw;
}
