/* 1920px | Full HD Desktop */
@media only screen and (min-device-width: 1680px) {
}

/* 1680px | MacBook Pro 15’ */
@media only screen and (max-device-width: 1680px) and (min-device-width: 1440px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 60px;
  }
  .first_block {
    height: 820px;
  }
  .running_lines-digital_reality {
    height: 660px;
  }
  .second_row {
    height: 1470px;
  }
  .third_row {
    height: 350px;
  }
}

/* 1440px | MacBook Pro 15’ (old) */
@media only screen and (max-device-width: 1440px) and (min-device-width: 1366px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 50px;
  }
  .first_block {
    height: 700px;
  }
  .running_lines-digital_reality {
    height: 560px;
  }
  .second_row {
    height: 1260px;
  }
  .third_row {
    height: 300px;
  }
}

/* 1366px | MacBook Air 12’ */
@media only screen and (max-device-width: 1366px) and (min-device-width: 1280px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 45px;
  }
  .first_block {
    height: 660px;
  }
  .running_lines-digital_reality {
    height: 530px;
  }
  .second_row {
    height: 1200px;
  }
  .third_row {
    height: 280px;
  }
}

/* 1280px | MacBook Pro 13’ */
@media only screen and (max-device-width: 1280px) and (min-device-width: 1024px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 40px;
  }
  .first_block {
    height: 600px;
  }
  .running_lines-digital_reality {
    height: 480px;
  }
  .second_row {
    height: 1120px;
  }
  .third_row {
    height: 260px;
  }
}

/* 1024px | iPad Mini (landscape) */
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 40px;
  }
  .first_block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 640px 120px;
    height: 100%;
  }
  .blur_block {
    flex-direction: row;
    grid-area: 2 / 1 / 2 / 4;
  }
  .face {
    width: 50%;
    bottom: 120px;
  }
  .running_lines-digital_reality {
    height: 380px;
  }
  .second_row {
    height: 880px;
  }
  .third_row {
    height: 210px;
  }
}

/* 768px | iPad Mini (portrait) */
@media only screen and (max-device-width: 768px) and (min-device-width: 430px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 30px;
  }
  .first_block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 480px 90px;
    height: 100%;
  }
  .blur_block {
    flex-direction: row;
    grid-area: 2 / 1 / 2 / 4;
  }
  .face {
    width: 50%;
    bottom: 90px;
  }
  .running_lines-digital_reality {
    height: 280px;
  }
  .second_row {
    height: 640px;
  }
  .third_row {
    height: 160px;
  }
}

/* 430px | iPhone 14 & 15 Pro Max */
@media only screen and (max-device-width: 430px) and (min-device-width: 320px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 30px;
  }
  .first_block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 800px;
  }
  .blur_block {
    flex-direction: row;
  }
  .face {
    width: 75%;
    height: 20%;
    bottom: 400px;
  }
  .blur_block {
    display: flex;
    flex-direction: column;
    grid-area: auto;
  }
  .running_lines-digital_reality {
    height: 280px;
  }
  .second_row {
    flex-direction: column-reverse;
    height: 720px;
  }
  .code {
    rotate: 90;
  }
  .poster {
    height: 540px;
    width: 100%;
  }
  .third_row {
    height: 360px;
    flex-direction: column;
  }
}

/* 320px | iPhone SE */
@media only screen and (max-device-width: 320px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 24px;
  }
  .first_block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 560px;
  }
  .blur_block {
    flex-direction: row;
  }
  .face {
    width: 75%;
    height: 20%;
    bottom: 280px;
  }
  .blur_block {
    display: flex;
    flex-direction: column;
    grid-area: auto;
  }
  .running_lines-digital_reality {
    height: 200px;
  }
  .second_row {
    flex-direction: column-reverse;
    height: 520px;
  }
  .code {
    rotate: 90;
  }
  .poster {
    height: 400px;
    width: 100%;
  }
  .third_row {
    height: 240px;
    flex-direction: column;
  }
}
