/* 1920px | Full HD Desktop */
@media only screen and (min-device-width: 1680px) {
}

/* 1680px | MacBook Pro 15’ */
@media only screen and (max-device-width: 1680px) and (min-device-width: 1440px) {
}

/* 1440px | MacBook Pro 15’ (old) */
@media only screen and (max-device-width: 1440px) and (min-device-width: 1366px) {
}

/* 1366px | MacBook Air 12’ */
@media only screen and (max-device-width: 1366px) and (min-device-width: 1280px) {
}

/* 1280px | MacBook Pro 13’ */
@media only screen and (max-device-width: 1280px) and (min-device-width: 1024px) {
}

/* 1024px | iPad Mini (landscape) */
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  .first_block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 62.5vw 11.7vw;
    height: 100%;
  }
  .blur_block {
    flex-direction: row;
    grid-area: 2 / 1 / 2 / 4;
  }
  .face {
    width: 50%;
    bottom: 11.7vw;
  }
}

/* 768px | iPad Mini (portrait) */
@media only screen and (max-device-width: 768px) and (min-device-width: 430px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 30px;
  }
  .first_block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 62.5vw 11.7vw;
    height: 100%;
  }
  .blur_block {
    flex-direction: row;
    grid-area: 2 / 1 / 2 / 4;
  }
  .face {
    width: 50%;
    bottom: 11.7vw;
  }
}

/* 430px | iPhone 14 & 15 Pro Max */
@media only screen and (max-device-width: 430px) and (min-device-width: 320px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 30px;
  }
  .first_block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 186vw;
  }
  .blur_block {
    flex-direction: row;
  }
  .face {
    width: 75%;
    height: 20%;
    bottom: 93vw;
  }
  .blur_block {
    display: flex;
    flex-direction: column;
    grid-area: auto;
  }
  .second_row {
    flex-direction: column-reverse;
    height: 167.5vw;
  }
  .code {
    transform: rotate(180deg);
    height: 41.9vw;
  }
  .poster {
    height: 125.6vw;
    width: 100%;
  }
  .third_row {
    height: 83.7vw;
    flex-direction: column;
  }
}

/* 320px | iPhone SE */
@media only screen and (max-device-width: 320px) {
  .running_line_about,
  .running_line_logos1,
  .running_line_logos2,
  .running_line_logos3 {
    height: 24px;
  }
  .first_block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 175vw;
  }
  .blur_block {
    flex-direction: row;
  }
  .face {
    width: 75%;
    height: 20%;
    bottom: 87.5vw;
  }
  .blur_block {
    display: flex;
    flex-direction: column;
    grid-area: auto;
  }
  .running_lines-digital_reality {
    height: 62.5vw;
  }
  .second_row {
    flex-direction: column-reverse;
    height: 162.5vw;
  }
  .code {
    transform: rotate(180deg);
    height: 56.3vw;
  }
  .poster {
    height: 125vw;
    width: 100%;
  }
  .third_row {
    height: 75vw;
    flex-direction: column;
  }
}
